body{ color: white; background-color: #444; }
h1 { color: white; }
p.ex { color: rgb(0,0,255); }
a:link {color: white; }
a:visited {color: lightgray; }
a:active {color: rgb(243, 89, 89); }
a:hover {color: yellow; }

.full {
    display:table;
    width: 100%;
/*   height: 150px; */
}
.left {
    display: table-cell;
    width: 300px;
/*    height: 150px;*/
    vertical-align: top;
}
.right {
    display: table-cell;
/*    height: 150px;*/
    vertical-align: top;
}
